*{
    background-color: black;
    font-family: Verdana, sans-serif;
    color: white;
    text-align: center;
    font-weight: normal;
    box-sizing: content-box;
}

html{
    font-size: 16px;
}

h2{
    font-weight: 300;
    font-size: 2.625rem;
}

h4{
    font-size: 1.3125rem;
    color: gray;
}

p{
    font-size: 1rem;
    color: aquamarine;
    text-decoration: underline;
    margin: 1.3125rem auto;
}

/*Content*/
/*Top header*/
.header h1{
    font-size: 3.125rem;
}

.header p{
    margin: 1.3125rem auto;
}
/*Video*/
.video-container video{
    max-width: 75%;
}

/*Personal travel guide*/
.personal-travel-guide img{
    max-width: 95%;
}

/*Footer*/
footer h4{
    text-align: right;
    color: gray;
    margin: 1.3125rem 0;
}